.list-item {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    height: var(--list-item-height);
    list-style: none;
    background-color: var(--color-default);
    margin-bottom: var(--list-item-gap);
}

.list-item div{
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    pointer-events: none;
}

.list-item div[data-content]:after {
    content: attr(data-content);
    position: absolute;
    left: 1rem;
    right: 0;
    padding-right: 1rem;
    text-align: left;
    top: calc(50% - 0.5rem);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--color-default);
}

.list-item div[data-selected=true]:before {
    transform: scaleY(1); 
    transition:transform 0.3s ease-out;
    transform-origin: center;
}

.list-item div:before {
    content: "";
    position: absolute;
    top: calc(50% - var(--input-height)/2);
    width: 0.25rem;
    left: 0.5rem;
    background-color: var(--color-selected);
    height: var(--input-height);
    transform: scaleY(0); 
    transition:transform 0.3s ease-out;
    transform-origin: center;
}