to-do {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list {
    margin: 0;
    padding: 0;
}

.default-header {
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-toolbar);
}

.default-button {
    width: 4rem;
    height: 1.5rem;
    border-radius: 5%;
    color: var(--color-default);
    border: none;
}

.default-header>* {
    margin: 0.5rem;
}

.default-header>textarea {
    width: inherit;
    height: 1rem;
    vertical-align: middle;
}

.input-todo{
    flex: 1 1 auto;
}

.main {
    background-color: var(--color-page);
    width: 100%;
    flex: 1 1 auto;
    overflow: auto;
}

.todo-add{
    flex-direction: row;
    align-items: center;
    background-color: var(--color-toolbar);
    display: none;
}

.todo-add >*{
    margin: 0.5rem;
}

.todo-add textarea{
    width: inherit;
    height: 1rem;
    vertical-align: middle;
}

button:disabled{
    opacity: 0.5;
}

.button-new-todo:after{
    content: 'New';
}

.button-delete-todo:after{
    content: 'Delete';
}

.span-todo-deleting{
    display: none;
    text-align: center;
}

.button-new {
    background-color: var(--color-new);
}

.button-delete {
    background-color: var(--color-delete);
}

div[data-display=true]{
    display: flex;
}