:root {
    --color-default: #ffffff;
    --color-new: #0081D5;
    --color-delete: #D2335B;
    --color-toolbar: #ECECEC;
    --color-toggle: #4CD964;
    --color-border: #E3E3E3;
    --color-text: #000000;
    --color-selected: #77B1D7;
    --color-page: #E1F3FF;

    --default-padding: 0.5rem;

    --input-height: 1.5rem;
    --input-width: 3rem;
    --input-gap: 0.1rem;
    --input-border: 0.1rem;
    --input-toggle-active: calc(var(--input-button-diameter)*1.5);
    --input-button-diameter: 1.3rem;
    --input-offset: -0.7rem;

    --list-item-height: 3rem;
    --list-item-gap: 0.1rem;
}

body {
    height: 100vh;
    max-width: 25rem;
    margin: 0rem;
    margin: auto;
    --item-padding: 0rem;
    background-color: var(--color-default);
    display: flex;
    flex-direction: column;
}

main{
    height: 100%;
}

input[type="checkbox"] {
    position: relative;
    flex: 0 0 var(--input-width);
    height: var(--input-height);
    margin-right: var(--default-padding);
}

input[type="checkbox"]:before {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--input-width);
    height: var(--input-height);
    background: var(--color-default);
    display: block;
    border-radius: var(--input-height);
    border: var(--input-border) solid var(--color-border);
}

input[type="checkbox"]:after {
    content: '';
    position: absolute;
    top: 0.1rem;
    left: 0;
    width: var(--input-button-diameter);
    height: var(--input-button-diameter);
    background: var(--color-default);
    border-radius: var(--input-button-diameter);
    transition: 0.3s;
    border: var(--input-border) solid var(--color-border);
    box-shadow: 0 0 1px 1px var(--color-border);
}

input[type="checkbox"]:checked:before {
    background: var(--color-toggle);
}

input[type="checkbox"]:checked:after {
    left: calc(var(--input-width) + var(--input-border)*2);
    transform: translateX(-100%);
}

input[type="checkbox"]:active:after {
    width: var(--input-toggle-active);
}