:root {
    --color-default: #ffffff;
    --color-new: #0081D5;
    --color-delete: #D2335B;
    --color-toolbar: #ECECEC;
    --color-toggle: #4CD964;
    --color-border: #E3E3E3;
    --color-text: #000000;
    --color-selected: #77B1D7;
    --color-page: #E1F3FF;

    --default-padding: 0.5rem;

    --input-height: 1.5rem;
    --input-width: 3rem;
    --input-gap: 0.1rem;
    --input-border: 0.1rem;
    --input-toggle-active: calc(var(--input-button-diameter)*1.5);
    --input-button-diameter: 1.3rem;
    --input-offset: -0.7rem;

    --list-item-height: 3rem;
    --list-item-gap: 0.1rem;
}

body {
    height: 100vh;
    max-width: 25rem;
    margin: 0rem;
    margin: auto;
    --item-padding: 0rem;
    background-color: var(--color-default);
    display: flex;
    flex-direction: column;
}

main{
    height: 100%;
}