<template>
    <pragma-options-toolbar dropdown-items.bind="toolbarItems" selected-id.two-way="detailToolbarSelectedId">
        <div slot="items" class="default-padding-left">
            <label>
                Show Items
                <input type="checkbox" checked.bind="isMasterVisible" class="default-padding-left">
            </label>
            <button click.delegate="add()">Add</button>
            <button click.delegate="save()">Save</button>
        </div>
    </pragma-options-toolbar>

    <pragma-form schema.bind="schema" model.two-way="model" context.bind="context"></pragma-form>
</template>
